// General
$primary-color:#45486b;
$secondary-color:#192a56;
$white-color:#fff;
$black-color:#000;
$gray-light:rgb(202, 202, 202);
$red-color:#f00;

// Breaking bad
$b-bad-color:#0D3E10;

// Letras
$purple-color:#5f27cd;